<template name="addAvailability">
  <header class="bar bar-nav">
    <i class="icon-cancel pull-left header">
    </i>
    <button class="btn btn-link btn-nav pull-left header cancel-improve" id="cancelImprove">
      Cancel
    </button>
    <h1 class="title header">Availability</h1>
  </header>
  <div class="content">
    <div class="content-padded">
      <h4 class="text-center">Set your availability</h4>
      <p class="text-center">You'll be added to groups based on your availability (which is easy to update later).</p>
      
      <form>
        <div class="availability-option">
          <div class="checkbox availability">
            <label>
              <input type="checkbox"> <span>Sundays</span>
            </label>
          </div>

          <div class="time-availability">
            <span class="icon-down-open"></span>
            <select class="form-control form-select">
              <option>Anytime</option>
              <option>Morning</option>
              <option>Afternoon</option>
              <option>Evening</option>
            </select>
          </div>
        </div>

        <div class="availability-option">
          <div class="checkbox availability">
            <label>
              <input type="checkbox"> <span>Mondays</span>
            </label>
          </div>

          <div class="time-availability">
            <span class="icon-down-open"></span>
            <select class="form-control form-select">
              <option>Anytime</option>
              <option>Morning</option>
              <option>Afternoon</option>
              <option>Evening</option>
            </select>
          </div>
        </div>

        <div class="availability-option">
          <div class="checkbox availability">
            <label>
              <input type="checkbox"> <span>Tuesdays</span>
            </label>
          </div>

          <div class="time-availability">
            <span class="icon-down-open"></span>
            <select class="form-control form-select">
              <option>Anytime</option>
              <option>Morning</option>
              <option>Afternoon</option>
              <option>Evening</option>
            </select>
          </div>
        </div>

        <div class="availability-option">
          <div class="checkbox availability">
            <label>
              <input type="checkbox"> <span>Wednesdays</span>
            </label>
          </div>

          <div class="time-availability">
            <span class="icon-down-open"></span>
            <select class="form-control form-select">
              <option>Anytime</option>
              <option>Morning</option>
              <option>Afternoon</option>
              <option>Evening</option>
            </select>
          </div>
        </div>

        <div class="availability-option">
          <div class="checkbox availability">
            <label>
              <input type="checkbox"> <span>Thursdays</span>
            </label>
          </div>

          <div class="time-availability">
            <span class="icon-down-open"></span>
            <select class="form-control form-select">
              <option>Anytime</option>
              <option>Morning</option>
              <option>Afternoon</option>
              <option>Evening</option>
            </select>
          </div>
        </div>

        <div class="availability-option">
          <div class="checkbox availability">
            <label>
              <input type="checkbox"> <span>Fridays</span>
            </label>
          </div>

          <div class="time-availability">
            <span class="icon-down-open"></span>
            <select class="form-control form-select">
              <option>Anytime</option>
              <option>Morning</option>
              <option>Afternoon</option>
              <option>Evening</option>
            </select>
          </div>
        </div>

        <div class="availability-option">
          <div class="checkbox availability">
            <label>
              <input type="checkbox"> <span>Saturdays</span>
            </label>
          </div>

          <div class="time-availability">
            <span class="icon-down-open"></span>
            <select class="form-control form-select">
              <option>Anytime</option>
              <option>Morning</option>
              <option>Afternoon</option>
              <option>Evening</option>
            </select>
          </div>
        </div>

        <button class="btn btn-primary btn-block" id="setAvailability">
          Set availability
        </button>
      </form>
    </div>
  </div>
</template>