<template name="addAvailability">
  <header class="bar bar-nav">
    <i class="icon-cancel pull-left header">
    </i>
    <button class="btn btn-link btn-nav pull-left header cancel-improve" id="cancelImprove">
      Cancel
    </button>
    <h1 class="title header">Availability</h1>
  </header>
  <div class="content">
    <div class="content-padded">
      <h4 class="text-center">When are you available to play?</h4>
      <p class="text-center">You'll be added to groups based on your availability (which is easy to update later).</p>
    </div>
  </div>
</template>