<template name="getLocation">
  {{> headerNav}}
  <div class="content">
    <div class="content-padded">
      <h1 class="text-center">Want to get a park game?<br />
        <small>We need to know your location to help find games near you.</small>
      </h1>
      <div class="text-center">
        <button type="button" class="btn btn-primary" id="getLocation">Find my location</button>
      </div>
    </div>
    <ul class="table-view">
      <li class="table-view-divider">
        Past games<small>, everywhere</small>
      </li>
      {{#each pastGames}}
        {{> pastGame}}
      {{/each}}
    </ul>
  </div>

  <footer>
    {{> tabNav}}
  </footer>
</template>