<template name="getLocation">
  {{> headerNav}}
  <div class="content">
    <div class="content-padded">
      <h4 class="text-center">Want to get a park game?</h4>
      <p class="text-center">
        We need to know your location to help find games near you.
      </p>
      <div class="text-center">
        <div class="text-center">
          <button id="getLocation" class="btn icon-location">
          </button>
          <div>Find my location</div>
        </div>
      </div>
    </div>
    <ul class="table-view">
      <li class="table-view-divider">
        Past games<small>, everywhere</small>
      </li>
      {{#each pastGames}}
        {{> pastGame}}
      {{/each}}
    </ul>
  </div>
  <footer>
    {{> yield region="footer"}}
  </footer>
</template>