<template name="listedGroups">
  <ul class="table-view">
    <li class="table-view-divider">
      Mondays<small> near San Francisco</small>
    </li>
    <li class="table-view-cell">
      <a href="{{pathFor 'groupDetail'}}">
        Ultimate Frisbee
        <p>8 interested in playing</p>
        <span class="badge">12</span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        Basketball
        <p>37 interested in playing</p>
        <span class="badge">4</span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        Soccer
        <p>54 interested in playing</p>
      </a>
    </li>
    
    <!-- Tuesdays -->
    <li class="table-view-divider">
      Tuesdays
    </li>
    <li class="table-view-cell">
      <a href="#">
        Ultimate Frisbee
        <p>Be the first to join and invite friends</p>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        Basketball
        <p>97 interested in playing</p>
        <span class="badge">5</span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        Soccer
        <p>3 interested in playing</p>
        <span class="badge">1</span>
      </a>
    </li>

    <!-- Wednesdays -->
    <li class="table-view-divider">
      Wednesdays
    </li>
    <li class="table-view-cell">
      <a href="#">
        Ultimate Frisbee
        <p>149 interested in playing</p>
        <span class="badge">2</span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        Basketball
        <p>111 interested in playing</p>
        <span class="badge">7</span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        Soccer
        <p>743 interested in playing</p>
        <span class="badge">23</span>
      </a>
    </li>

    <!-- Thursdays -->
    <li class="table-view-divider">
      Thursdays
    </li>
    <li class="table-view-cell">
      <a href="#">
        Ultimate Frisbee
        <p>149 interested in playing</p>
        <span class="badge">2</span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        Basketball
        <p>111 interested in playing</p>
        <span class="badge">7</span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        Soccer
        <p>743 interested in playing</p>
        <span class="badge">23</span>
      </a>
    </li>

    <!-- Fridays -->
    <li class="table-view-divider">
      Fridays
    </li>
    <li class="table-view-cell">
      <a href="#">
        Ultimate Frisbee
        <p>149 interested in playing</p>
        <span class="badge">2</span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        Basketball
        <p>111 interested in playing</p>
        <span class="badge">7</span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        Soccer
        <p>743 interested in playing</p>
      </a>
    </li>

    <!-- Saturdays -->
    <li class="table-view-divider">
      Saturdays
    </li>
    <li class="table-view-cell">
      <a href="#">
        Ultimate Frisbee
        <p>1,143 interested in playing</p>
        <span class="badge">8</span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        Basketball
        <p>213 interested in playing</p>
        <span class="badge">35</span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        Soccer
        <p>541 interested in playing</p>
        <span class="badge">17</span>
      </a>
    </li>

    <!-- Sundays -->
    <li class="table-view-divider">
      Sundays
    </li>
    <li class="table-view-cell">
      <a href="#">
        Ultimate Frisbee
        <p>678 interested in playing</p>
        <span class="badge">2</span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        Basketball
        <p>540 interested in playing</p>
        <span class="badge">7</span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        Soccer
        <p>1,212 interested in playing</p>
        <span class="badge">17</span>
      </a>
    </li>
  </ul>
</template>