<template name="groupDetail">
  {{> detailNav}}
  <div class="content">
    <div class="content-padded">
      <h3 class="game-type">Pickup Basketball</h3>
      <p class="group-availability">Thursdays near San Francisco, CA</p>
      
      <button class="btn btn-primary btn-block" id="joinGroup">
        Join group
      </button>

      <ul class="table-view upcoming-games-link">
        <li class="table-view-cell">
          <a id="upcomingGames" class="navigate-right" href="#">
            5 upcoming games
            <span class="icon-right-open-big pull-right"></span>
          </a>
        </li>
      </ul>

      <h5 id="interestedPlayers">227 interested in playing</h5>
      <p>Most prefer a recreational evening game</p>
      <a href="#">
        <img src="model-001.png" height="32" width="32" />
        <img src="model-002.png" height="32" width="32" />
        <img src="model-003.png" height="32" width="32" />
        <img src="model-004.png" height="32" width="32" />
        <img src="model-005.png" height="32" width="32" />
        <img src="model-009.png" height="32" width="32" />
        <img src="model-008.png" height="32" width="32" />
        <span class="icon-right-open-big" id="playersList"></span>
      </a>

      <p></p>

      <h5>4 comments <small>this week</small></h5>

      <ul class="table-view" id="groupComments">
        <li class="table-view-cell media">
          <img class="media-object pull-left" src="model-003.png" height="32" width="32">
          <div class="media-body">
            <span>Daniel Finch</span>
            <p>How about Crocker Amazon at 6:30?<br />
              6h
            </p>
          </div>
        </li>

        <li class="table-view-cell media">
          <img class="media-object pull-left" src="model-005.png" height="32" width="32">
          <div class="media-body">
            <span>Reeda Taylor</span>
            <p>Crocker is too far from me. Can we play somewhere in the city?<br />
              4h
            </p>
          </div>
        </li>

        <li class="table-view-cell media">
          <img class="media-object pull-left" src="model-002.png" height="32" width="32">
          <div class="media-body">
            <span>Mickey Dickensen</span>
            <p>Yeah, me too. I'd rather play somewhere near the Mission.<br />
              4h
            </p>
          </div>
        </li>

        <li class="table-view-cell media">
          <img class="media-object pull-left" src="model-005.png" height="32" width="32">
          <div class="media-body">
            <span>Reeda Taylor</span>
            <p>Maybe we could play at Garfield Square Park?<br />
              4h
            </p>
          </div>
        </li>
      </ul>

      <div>
        <form>
          <input class="add-comment" type="text" placeholder="Add comment">
          <button class="btn btn-link pull-right post-comment">Post</button>
        </form>
      </div>
    </div>
  </div>

  <footer>
    {{> yield region="footer"}}
  </footer>
</template>
