<template name="groupDetail">
  {{> detailNav}}
  <div class="content">
    <div class="content-padded">
      <h3>Pickup Basketball</h3>
      <p>Thursdays near San Francisco, CA</p>
      
      <button class="btn btn-primary btn-block">Join group</button>

      <ul class="table-view">
        <li class="table-view-cell">
          <a class="navigate-right" href="#">
            5 upcoming games
            <span class="icon-right-open-big pull-right"></span>
          </a>
        </li>
      </ul>

      <h4>227 interested in playing</h4>
      <p>Most prefer a recreational evening game</p>
      <a href="">
        <img src="model-001.png" height="32" width="32" />
        <img src="model-002.png" height="32" width="32" />
        <img src="model-003.png" height="32" width="32" />
        <img src="model-004.png" height="32" width="32" />
        <img src="model-005.png" height="32" width="32" />
        <img src="model-009.png" height="32" width="32" />
        <img src="model-008.png" height="32" width="32" />
        <span class="icon-right-open-big"></span>
      </a>

      <p></p>

      <h4>4 comments <small>this week</small></h4>

      <ul class="table-view">
        <li class="table-view-cell media">
          <img class="media-object pull-left" src="model-003.png" height="32" width="32">
          <div class="media-body">
            Daniel Finch
            <p>How about Crocker Amazon at 6:30?<br />
              6h
            </p>
          </div>
        </li>

        <li class="table-view-cell media">
          <img class="media-object pull-left" src="model-005.png" height="32" width="32">
          <div class="media-body">
            Reeda Taylor
            <p>Crocker is too far from me. Can we play somewhere in the city?<br />
              4h
            </p>
          </div>
        </li>

        <li class="table-view-cell media">
          <img class="media-object pull-left" src="model-002.png" height="32" width="32">
          <div class="media-body">
            Mickey Dickensen
            <p>Yeah, me too. I'd rather play somewhere near the Mission.<br />
              4h
            </p>
          </div>
        </li>

        <li class="table-view-cell media">
          <img class="media-object pull-left" src="model-005.png" height="32" width="32">
          <div class="media-body">
            Reeda Taylor
            <p>Maybe we could play at Garfield Square Park?<br />
              4h
            </p>
          </div>
        </li>
      </ul>

      <div>
        <form>
          <input class="add-comment" type="text" placeholder="Add comment">
          <button class="btn btn-link pull-right">Post</button>
        </form>
      </div>
    </div>
  </div>
</template>
