<template name="headerNav">
  <header class="bar bar-nav">
    <button class="btn btn-link btn-nav pull-left header">
      Sign up
    </button>
    <h1 class="title header">PushPickup</h1>
    <i class="icon-location pull-right header"></i>
  </header>
</template>

<template name="detailNav">
  <header class="bar bar-nav">
    <i class="icon-left-open-big pull-left header"></i>
    <button class="btn btn-link btn-nav pull-left header">
      Pickups
    </button>

    <button class="btn btn-link btn-nav pull-right header">
      Share
    </button>
    <i class="icon-link pull-right header"></i>
  </header>
</template>