<template name="headerNav">
  <header class="bar bar-nav">
    <button class="btn btn-link btn-nav pull-left">
      Sign up
    </button>
    <h1 class="title">PushPickup</h1>
  </header>
</template>

<template name="detailNav">
  <header class="bar bar-nav">
    <button class="btn btn-link btn-nav pull-left">
      <i class="icon-left-open-big"></i> 
      Pickups
    </button>
    <button class="btn btn-link btn-nav pull-right">
      <i class="icon-link"></i>Share
    </button>
  </header>
</template>