<template name="headerNav">
  <header class="bar bar-nav">
    <button class="btn btn-link btn-nav pull-left header" id="signUpHeader">
      Sign up
    </button>
    <form>
      <input id="searchGames" type="text" placeholder="Find games" >
    </form>
    <i class="icon-location pull-right header"></i>
  </header>
</template>

<template name="detailNav">
  <header class="bar bar-nav">
    <i class="icon-left-open-big pull-left header"></i>
    <button class="btn btn-link btn-nav pull-left header">
      Pickups
    </button>

    <button class="btn btn-link btn-nav pull-right header">
      Share
    </button>
    <i class="icon-link pull-right header"></i>
  </header>
</template>

<template name="groupNav">
  <header class="bar bar-nav">
    <i class="icon-left-open-big pull-left header"></i>
    <button class="btn btn-link btn-nav pull-left header groups">
      Groups
    </button>

    <button class="btn btn-link btn-nav pull-right header">
      Share
    </button>
    <i class="icon-link pull-right header"></i>
  </header>
</template>