<template name="improveProfile">
  <header class="bar bar-nav">
    <i class="icon-cancel pull-left header">
    </i>
    <button class="btn btn-link btn-nav pull-left header cancel-improve" id="cancelImprove">
      Cancel
    </button>
    <h1 class="title header">Continue</h1>
  </header>
  <div class="content">
    <div class="content-padded">
      <h4 class="text-center">Get notified of nearby games</h4>
      <p class="text-center">Choose your favorite game types, and 
        <br /> skill level, and get notified of games
        <br /> in your area.</p>
      <div class="text-center">
        <button class="btn btn-muted fluid cancel-improve">Not now</button>
        <button class="btn btn-primary fluid" id="improveContinue">Let's do it!</button>
      </div>
    </div>
  </div>
</template>
