<head>
  <title>PushPickup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://pushpickup.com/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://pushpickup.com/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://pushpickup.com/apple-touch-icon-57x57.png">
  <link href="https://fontastic.s3.amazonaws.com/VLiNkjZyUGDeVnyyRshEyX/icons.css" rel="stylesheet">
</head>

<template name="layout">
  {{> yield}}
</template>
