<template name="listedGroups">
  <ul class="table-view">
    <li class="table-view-divider">
      Mondays<small> near San Francisco</small>
    </li>
    <li class="table-view-cell">
      <a href="{{pathFor 'groupDetail'}}">
        <span class="sport-type">Ultimate Frisbee</span>
        <p>8 interested in playing</p>
        <span class="badge">12<i class="icon-comment"></i></span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        <span class="sport-type">Basketball</span>
        <p>37 interested in playing</p>
        <span class="badge">4<i class="icon-comment"></i></span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        <span class="sport-type">Soccer</span>
        <p>54 interested in playing</p>
      </a>
    </li>
    
    <!-- Tuesdays -->
    <li class="table-view-divider">
      Tuesdays
    </li>
    <li class="table-view-cell">
      <a href="#">
        <span class="sport-type">Ultimate Frisbee</span>
        <p>Be the first to join and invite friends</p>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        <span class="sport-type">Basketball</span>
        <p>97 interested in playing</p>
        <span class="badge">5<i class="icon-comment"></i></span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        <span class="sport-type">Soccer</span>
        <p>3 interested in playing</p>
        <span class="badge">1<i class="icon-comment"></i></span>
      </a>
    </li>

    <!-- Wednesdays -->
    <li class="table-view-divider">
      Wednesdays
    </li>
    <li class="table-view-cell">
      <a href="#">
        <span class="sport-type">Ultimate Frisbee</span>
        <p>149 interested in playing</p>
        <span class="badge">2<i class="icon-comment"></i></span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        <span class="sport-type">Basketball</span>
        <p>111 interested in playing</p>
        <span class="badge">7<i class="icon-comment"></i></span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        <span class="sport-type">Soccer</span>
        <p>743 interested in playing</p>
        <span class="badge">23<i class="icon-comment"></i></span>
      </a>
    </li>

    <!-- Thursdays -->
    <li class="table-view-divider">
      Thursdays
    </li>
    <li class="table-view-cell">
      <a href="#">
        <span class="sport-type">Ultimate Frisbee</span>
        <p>149 interested in playing</p>
        <span class="badge">2<i class="icon-comment"></i></span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        <span class="sport-type">Basketball</span>
        <p>111 interested in playing</p>
        <span class="badge">7<i class="icon-comment"></i></span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        <span class="sport-type">Soccer</span>
        <p>743 interested in playing</p>
        <span class="badge">23<i class="icon-comment"></i></span>
      </a>
    </li>

    <!-- Fridays -->
    <li class="table-view-divider">
      Fridays
    </li>
    <li class="table-view-cell">
      <a href="#">
        <span class="sport-type">Ultimate Frisbee</span>
        <p>149 interested in playing</p>
        <span class="badge">2<i class="icon-comment"></i></span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        <span class="sport-type">Basketball</span>
        <p>111 interested in playing</p>
        <span class="badge">7<i class="icon-comment"></i></span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        <span class="sport-type">Soccer</span>
        <p>743 interested in playing</p>
      </a>
    </li>

    <!-- Saturdays -->
    <li class="table-view-divider">
      Saturdays
    </li>
    <li class="table-view-cell">
      <a href="#">
        <span class="sport-type">Ultimate Frisbee</span>
        <p>1,143 interested in playing</p>
        <span class="badge">8<i class="icon-comment"></i></span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        <span class="sport-type">Basketball</span>
        <p>213 interested in playing</p>
        <span class="badge">35<i class="icon-comment"></i></span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        <span class="sport-type">Soccer</span>
        <p>541 interested in playing</p>
        <span class="badge">17<i class="icon-comment"></i></span>
      </a>
    </li>

    <!-- Sundays -->
    <li class="table-view-divider">
      Sundays
    </li>
    <li class="table-view-cell">
      <a href="#">
        <span class="sport-type">Ultimate Frisbee</span>
        <p>678 interested in playing</p>
        <span class="badge">2<i class="icon-comment"></i></span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        <span class="sport-type">Basketball</span>
        <p>540 interested in playing</p>
        <span class="badge">7<i class="icon-comment"></i></span>
      </a>
    </li>
    <li class="table-view-cell">
      <a href="#">
        <span class="sport-type">Soccer</span>
        <p>1,212 interested in playing</p>
        <span class="badge">17<i class="icon-comment"></i></span>
      </a>
    </li>
  </ul>
</template>