<template name="locationSet">
  {{> headerNav}}

  <div class="content list-view">
    <ul class="table-view">
      <li class="table-view-divider">
        <span>Today</span><small> near San Francisco</small>
      </li>
      {{#each sundayGames}}
        {{> scheduledGame}}
      {{/each}}

      <li class="table-view-divider">
        <span>Tomorrow</span><small>, Mar 3</small>
      </li>
      {{#each mondayGames}}
        {{> scheduledGame}}
      {{/each}}

      <li class="table-view-divider">
        <span>Wednesday</span><small>, Mar 4</small>
      </li>
      {{#each wednesdayGames}}
        {{> scheduledGame}}
      {{/each}}

      <li class="table-view-divider">
        <span>Friday</span><small>, Mar 6</small>
      </li>
      {{#each fridayGames}}
        {{> scheduledGame}}
      {{/each}}

      <li class="table-view-divider">
        <span>Saturday</span><small>, Mar 7</small>
      </li>
      {{#each saturdayGames}}
        {{> scheduledGame}}
      {{/each}}
    </ul>
  </div>
  <footer>
    {{> yield region="footer"}}
  </footer>
</template>