<template name="tabNav">
  <nav class="bar bar-tab">
    <a class="tab-item active" href="{{pathFor 'groupsList'}}">
      <span class="icon icon-star-filled"></span>
      <span class="tab-label">Groups</span>
    </a>
    <a class="tab-item" href="{{pathFor 'locationSet'}}">
      <span class="icon icon-list"></span>
      <span class="tab-label">Games</span>
    </a>
    <a class="tab-item" href="#">
      <span class="icon icon-plus"></span>
      <span class="tab-label">Add game</span>
    </a>
    <a class="tab-item" href="#">
      <span class="icon icon-person"></span>
      <span class="tab-label">Profile</span>
    </a>
  </nav>
</template>
